<div>
  <h1 class="font-bold text-4xl text-blue-500 mb-6">Welcome, <%= current_user.first_name + " " + current_user.last_name %> </h1>
  <% if current_user.doctor? %>
    <p> <%= Category.find(current_user.category_id).title.delete_suffix("s") %> </p>
  <% elsif current_user.admin? %>
    <%= link_to "Admin dashboard", admin_categories_path, class: 'inline-block bg-blue-600 text-white text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:bg-blue-500 mt-4 lg:mt-0 mr-6' %>
  <% end %>
</div>